#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.contenedor {
  background-color: rgb(112, 106, 106);

}

.box1 {
  background-color: rgb(17, 116, 129);
  color: white;

}

.box2 {
  background-color: rgb(109, 121, 175);
  color: white;

}

.box3 {
  background-color: rgb(17, 116, 129);
  color: white;

}

.navbar {

  background-color: rgb(199, 187, 187);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.buscador {
  width: 90%;
  height: 40px;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid;
  border-radius: 50px;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 10px;

}

.linkk {
  text-decoration: none;
  color: black;
  Font-weight: bold;

}

.icons {
  width: 50%;
  display: flex;

}

.barra {
  background-color: black;

}

.footer1{
  background-color: black;
  color: white;
}

.footer2{
  background-color: rgb(10, 10, 10);
  color: white;
}