@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@100&display=swap');

* {
  font-family: 'Archivo Narrow', Arial, sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.contenedor {
  font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}

h3,h4 {
  font-family: 'Caveat';
  font-weight: 600;
}

.navbar {
  background-color: rgb(199, 187, 187);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  color: rgb(74, 74, 74);
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 17.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.buscador {
  width: 70%;
  padding-left: 2.5rem;
  padding-right: 5%;
  border: 1px solid gray;
  line-height: 0.5rem;

}


.icons {
  display: flex;
  width: 4rem;
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.linkk {
  font-family: 'Caveat';
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.barra {
  background-color: black;
}

.footer1 {
  background-color: black;
  color: white;
}
.footer1 p{
  color:rgb( 238, 187, 0);
}

.footer2 {
  background-color: rgb(10, 10, 10);
  color: white;
}

/* Responsive */

@media (max-width: 575.98px) {
  .buscador {
    width: 100%;
    padding: 0;
  }


  .boton {
    margin-top: 10px;
  }

  .lupa {
    display: none;
  }

}

@media (max-width: 767.98px) {
  .lupa {
    display: none;
  }


}