@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@100&display=swap');

* {
  font-family: 'Archivo Narrow', Arial, sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.contenedor {
  font-family: 'Archivo Narrow', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}

h2,h3,h4 {
  font-family: 'Caveat';
  font-weight: 600;
}

.navbar {
  background-color: rgb(199, 187, 187);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  color: rgb(74, 74, 74);
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 17.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.buscador {
  width: 80%;
  padding-left: 2.5rem;
  padding-right: 5%;
  border: 1px solid gray;
  line-height: 0.5rem;

}


.icons {
  display: flex;
  width: 4rem;
}

.imgCentral {
  width: 100%;
  height: 100%;


}


.linkk {
  font-family: 'Caveat';
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 2px;
}

.linkk::after {
  content: '';
  width: 0;
  height: 5px;
  background-color: rgb(238, 187, 0);
  margin: auto;
  border-radius: 40px;
  display: block;
  margin-bottom: -20px;
}

.linkk:hover::after {
  width: 100%;
  transition: width 0.3s linear;
}

.barra {
  background-color: black;
}

.footer1 {
  background-color: black;
  color: white;
}

.footer1 p {
  color: rgb(238, 187, 0);
}

.footer2 {
  background-color: rgb(10, 10, 10);
  color: white;

}
.textCond{
 padding:30px 70px;
 font-size: 1.2rem;
}
.login{
  padding:5px 100px 80px 100px;
}
.acceso{
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Boton Whatsapp */
.btn-wsp {

  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  left: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}


/* Responsive */

@media (max-width: 575.98px) {
  .buscador {
    width: 100%;
    padding: 0;
  }

  .imgCentral {
    margin-top: 20px;
    width: 100%;
    height: 250px;

  }

  .boton {
    margin-top: 10px;
  }

  .lupa {
    display: none;
  }
  .footer1{
    padding-bottom: 25px;
  }
  .footer2 {
    padding-top: 35px;

  }

  .linkk:hover::after {
    width: 40%;
    transition: width 0.3s linear;
  }
.login{
  padding: 5px;
}
.acceso{
  background-color: #212529;
  padding: 5px;
  color: white;
}
}

@media (max-width: 767.98px) {
  .lupa {
    display: none;
  }


}